doctype html
head
  // Latest compiled and minified CSS
  link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  // Font awesome
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.9/js/all.js' integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl' crossorigin='anonymous')
  // Aminate.css
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' type='text/css' href='css/style.css')
#wrapper
  .title-comments
    h2 Ajouter des commentaires
  .container
    form(method='POST' id='#' action='/comments/add')
      .comment-form
        .form-group
          label Prenom:
          input.form-control.col-md-4(type='text' name='first_name' placeholder='firstname')
        br
        .form-group
          label Nom:
          input.form-control.col-md-4(type='text' name='last_name' placeholder='lastname')
        br
        .form-group
          label Email:
          input.form-control.col-md-4(type='text' name='email' placeholder='Email')
        br
        .form-group
          label Commentaire:
          input.form-control.col-md-4(type='text' name='body' placeholder='write your comment')
        br
        br
        input.btn.btn-default(type='submit',value='Submit' )
  
// enbuild

script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
