doctype html
head
  // Latest compiled and minified CSS
  link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  // Font awesome
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.9/js/all.js' integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl' crossorigin='anonymous')
  // Aminate.css
  //- link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css')
  //- script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
#wrapper

  .container
    .title-newsletter
    h2 #{title}    
    br
    a.btn.btn-default(href='/comments') Home
    a.btn.btn-default(href='/comments/add') Ajouter un commentaire :) 
    
    ul.list-group
    //- != messages('messages', locals)
    //- if errors 
    //-   each error, i in errors
    //-     div(class="alert alert-danger")
    //- each comment, i in comments
    //-   li.list-group-item
    //-     a(href='/comments/'+comment._id)= comment.first_name
    //-     br
    //-     a(href='/comments/'+comment._id)= comment.last_name
    //-     br
    //-     a(href='/comments/'+comment._id)= comment.email
    //-     br
    //-     a(href='/comments/'+comment._id)= comment.body



// enbuild

