<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <!-- Aminate.css -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>

        <div class="container">
                <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand" href="#">LOGO</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mx-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="home.php">Home <span class="sr-only">(current)</span></a>
                      </li>
            
                      <li class="nav-item dropdown">
                      <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Produits
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Hommes</a>
                          <a class="dropdown-item" href="#">Femmes</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Autres</a>
                        </div>
                      </li>
                                
                      <li class="nav-item">
                        <a class="nav-link " href="#" >Contactez-nous</a>
                      </li>
            
                      <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blog
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                          <a class="dropdown-item" href="#">Evénements</a>
                          <a class="dropdown-item" href="#">Chronique</a>
                        </div>
                      </li>
                    </ul>
                    <div class="row justify-content-center">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-sm btn-submit-navbar  my-2 my-lg-0" type="submit">Go!</button>
                    </form>
                  </div>
                  <div class="col0">
                    <ul class="navbar-nav ml-auto second-linkList">
                      <li class="nav-item">
                        <a class="nav-link" href="account.php">
                          <i class="fas fa-user"></i>
                        </a> 
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                          
                          <i class="fas fa-shopping-basket"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
              <!------------ shiipppppppping -------->
            <!--   
              <div class="container tab-shipping">
               
                <ul class="list-group list-group-horizontal-xl">
                  <li class="list-group-item">Free shipping
                    <span>
                      <i class="fas fa-shipping-fast"></i>
                    </span>
                  </li>
                  <li class="list-group-item">30 days Returns</li>
                  <li class="list-group-item">Next Day Dispatch
                    <span>
                      <i class="fas fa-clock"></i>
                    </span>
                  </li>
                </ul>
              </div>
              <hr/> -->
              <!-------- MAIN SignUP -------->
              <div class="main-layout">
                <div id="loginClient" class="container">
                  <h2>Créer un compte</h2>
                  <form action="">
                    <input type="hidden" name='form_type' value="create_customer">
                    <input type="hidden" name='utf8' value="Y">
            
                    <div id="first_name" class="clearfix form-group">
                      <label for="firstname" class="login">Prénom</label>
                      <input type="text" class="form-control" id="firstname" aria-describedby="firstname" placeholder="Prénom">
                    </div>
            
                    <div id="last_name" class="form-group">
                      <label for="last_name" class="login">Nom</label>
                      <input type="text" class="form-control" id="lastname" aria-describedby="lastname" placeholder="Nom">
                    </div>
            
                    <div id="email" class="clearfix form-group">
                      <label for="email" class="login">Email</label>
                      <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="Email">
                    </div>
                    
                    <div class="form-group">
                      <label for="password1" class="login">Mot de passe</label>
                      <input type="password1" class="form-control" id="password1" placeholder="Password1"">
                    </div>
                    <div class="form-group">
                      <label for="password2 " class="login">Confirmé Mot de passe</label>
                      <input type="password2" class="form-control" id="password2" placeholder="Password2"">
                    </div>
            
                    <div class="action-bottom clearfix">
                      <input type="submit" class="btn btn-animation" id="vazyenvoi" value="Créer un Compte"">
                   
                      <span class="action-login"><a href="login.php" class="button-login">Déjà un compte?</a></span>
                      </div>
                    </div> 
                  </form>
                </div>
             
              </div>


  
   
    <!-- build:js/secondapp.js -->
    <script src="js/apptwo.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </body>
 
</html>
