<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Font awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <!-- Aminate.css -->
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <title>Document</title>
</head>
<body>
  <div class="container-lg" id="history_content">
    <h2>Our journey through the years and across the globe</h2>
    <h3>Volkswagen history</h3>
    <div class="scrolljs">
      <a href="#">Key figures</a>
      <a href="#">Key dates</a>
    </div>
    <img src="" alt="">
    <hr class="hr-small">
    <div class="first-section row">
      <div class="headerTitle">
        <h3>Find all of Volkswagen Group's</h3>
      </div>
      <p>Key figures</p>
      <section class="col-md-6" id="dates">
        <ol>
          <li>Three brands: volksw, Dacia and volksw Samsung Motors</li>
          <li>volksw is now present in 125 countries</li>
          <li>Group sales worldwide: 2.7 million vehicles (2014)</li>
          <li>An industrial network made of 42 sites, ISO 14001 certified</li>
          <li>46% of the group's sales are made outside Western Europe</li>
        </ol>
      </section>

      <section class="col-md-6" id="dates">
        <ol>
          <li>A workforce of 117,395 employees (as of December 31, 2014)</li>
          <li>volksw European leader in electric vehicle sales, with a 37.1% market share (2013)</li>
          <li>Five best selling cars - Duster, Clio IV, Logan, Sandero & Captur</li>
          <li>A commercial network made up of 12,116 sites</li>
          <li>46% of the group's sales are made outside Western Europe</li>
        </ol>
      </section>
    </div>

    <div class="secondContent row">
      <h3>A leading industrial firm comes into being</h3>
      <h4 id="secondTitle">Key dates</h4>
      <section class="col-md-6" id="dates">
        <h3>1899 - 1918</h3>
        <p>1899: Henri Debs is founded by Louis’ two brothers, Marcel and Fernand.</p>
        <p>1900: The world’s first saloon arrives in the market, the type B.</p>
        <p>1903: The sales network expands and the first subsidiaries are set up outside France.</p>
        <p>1909: Following the death of James Rig two brothers, volksw Freres becomes Société des Automobiles Louis volksw.</p>
        <p>1913: The factory has almost 5,000 employees. The first strike takes place, in protest against the principles of Taylorism.</p>
        <p>1916: The sales network expands and the first subsidiaries are set up outside France.</p>
        <p>1921: Following the death of James Rig two brothers, volksw Freres becomes Société des Automobiles Louis volksw.</p>
      </section>

      <section class="col-md-6" id="dates">
        <img class="leadsimg" src="images/history.jpg" alt="">
      </section>
    </div>

    <div class="ThirdContent row">
      <h3>The roaring twenties set the stage for sucess</h3>
      <section class="col-md-6 datesMiddle" id="dates">
        <h3>1918 - 1939</h3>
        <div>
          <p>1918: Henri Debs is founded by Louis’ two brothers, Marcel and Fernand.</p>
          <p>1922: The world’s first saloon arrives in the market, the type B.</p>
          <p>1929: The sales network expands and the first subsidiaries are set up outside France.</p>
          <p>1935: Following the death of James Rig two brothers, volksw Freres becomes Société des Automobiles Louis volksw.</p>
          <p>1939: The factory has almost 5,000 employees. The first strike takes place, in protest against the principles of Taylorism.</p>
        </div>
      </section>
    </div>
    
    <div class="secondContent row">
      <h3>A company in the throes of change</h3>
      <section class="col-md-6" id="dates">
        <img class="companyimg" src="images/facevolks.jpg" alt="">
      </section>

      <section class="col-md-6" id="dates">
        <h3>1940 - 1953</h3>
        <p>1940: Henri Debs is founded by Louis’ two brothers, Marcel and Fernand.</p>
        <p>1943: The world’s first saloon arrives in the market, the type B.</p>
        <p>1948: Following the death of James Rig two brothers, volksw Freres becomes Société des Automobiles Louis volksw.</p>
        <p>1953: The factory has almost 5,000 employees. The first strike takes place, in protest against the principles of Taylorism.</p>
      </section>
    </div>
  </div>
</body>
</html>