doctype html
head
  //- Latest compiled and minified CSS
  // Latest compiled and minified CSS
  link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  // Font awesome
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.9/js/all.js' integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl' crossorigin='anonymous')
  // Aminate.css
  link(rel='stylesheet' type='text/css' href='./styles.css')
  style. 
    a{
      color : #000;
    },
    #side-menu{
      display: none;
    }
  //- link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css')

  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' type='text/css' href='css/style.css')
  title Volkswaginn
body

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
  ul.nav.nav-pills.nav-fill
    li.nav-item
      a.nav-link.active(href='index.html') Home
    li.nav-item
      a.nav-link(href='vehicules.html') Vehicules
    li.nav-item
      a.nav-link(href='car-finance.html') Offre et Finances
    li.nav-item
      a.nav-link(href='contact.html') Contactez-nous

  
    //- #side-menu.side-nav.cacher
    //-   a.nav-link(href='#' onclick='closeSlideMenu()') &times;
    //-   a.nav-link(href='index.html') Home
    //-   a.nav-link(href='vehicules.html') Vehicules
    //-   a.nav-link(href='car-finance.html') Offer and Finance
    //-   a.nav-link(href='contact.html') Contact
// panel Icons begin
.container
  #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
  .carousel-inner
    .carousel-item.active
      h1.titleSlider Need some fresh air?
      img.d-block.w-100(src='images/passat.png', alt='...')
    .carousel-item
      p Do you want something new? Something who does look like you

      img.d-block.w-100(src='images/e-up.png', alt='...')
    .carousel-item
      img.d-block.w-100(src='images/beetle-cabriolet.png', alt='...')
.litteWrapper
  a#scrollDown.scrollDown(href='#scrollDown' title='SCROLL DOWWN TO CONTINUE')
    i.fas.fa-angle-down
br
.contentGlobale-index
  .headerTitle
    h3 #{title}
  // Create an array with all the cars
  #indexGallery
  .container.row
  each car, i in cars
    p.col-lg-4(href='/cars/'+car._id)= car.car_name
    .thumbnail
    //- img.imgBestSeller(src='images/passat.png' alt='...')
    //- img.imgBestSeller(src='/cars/'+car._id)= car.car_images
    
    br
    p(href='/cars/'+car._id)= car.car_price
    br
  // POPUP prendre rendez vous

  container.modal-hideen.row
  h3.title-modal Bienvenue sur LOCAVWATI
  
  .container-wide
    form(method='POST' id='#' action="")
      .contactus-form
        .form-group
          label Email:
          input.form-control.col-md-4(type='text' name='first_name', value=comment.first_name )
  
        input.btn.btn-default(type='submit',value='Submit' )
  

  // ARTICLE content
  section#contentGlobale-article
    .container-lg.row
      section#adventure.col-md-6
        h3.title-article Volkswagen and environment
        h3.bodyText
          | The amount of Vehicle Excise Duty (Road Fund Licence) payable on new cars varies depending on the level of CO2 (Carbon Dioxide)
          | emissions produced by the vehicle and the type of fuel used.
          | Discover the &lsquo;CO2 banding&rsquo; and therefore, the amount of Vehicle Excise Duty payable on our Eco2 range.
        a.bodyText.bodyLink(href='volkswagen and environment.html') Find out more
      section#history.col-md-6
        h3.title-article History
        h3.bodyText
          | 1899: Volkswagen Freres is founded by Louis&rsquo; two brothers, Marcel and Fernand.
          | 1900: The world&rsquo;s first saloon arrives in the market, the type B.
          | 1902: Volkswagen produces its first engine and files a patent for the first turbo.
          | 1903: The sales network expands and the first subsidiaries are set up outside France.
        a.bodyText.bodyLink(href='history.html') Find out more
  // CUSTOMER content
  #contentGlobal-customers
    a.container-lg(href='#customers')
      span.common-button.common-button--default Our clients
      ul.overlay
        li
          img.spotify(src='images/icons8-spotify.png' alt='spotify')
        li
          img.facebook(src='images/icons8-facebook.png' alt='lyft')
        li
          img.slack(src='images/icons8-slack.png' alt='slack')
        li
          img.mac(src='images/icons8-client-mac.png' alt='mac')
  // beforeFooter
  #contentGlobal-beforeFooter
    .container-lg.row
      #contentFooter.col
        h1.titleBeforeFooter
          span Are you ready for the adventure ? 
          br
          span Contact us ou create your account.
      #contentLink.col
        a#signup(href='') Create your account
        a#contactUss(href='') Contact our company
  // Footer
  #contentGlobal-footer(style='background-color:lightgray;')
    .clearfix
      .col
        ul.shop-box
          li.title-footer Ownership
          li(href='#') Extended warranty
          li(href='#') Incontrol
          li(href='#') Castrol oil

      .col
        ul.shop-box
          li.title-footer Find us
          li(href='#') Twitter
          li(href='#') Facebook
          li(href='#') Instagram
          li(href='#') Google+
      .col
        ul.shop-box
          li.title-footer(href='#') Map
  //- script(src='js/index.js')
  //- script(src='/bower_components/jquery/dist/jquery.js')
  include modal.js
  // enbuild
