doctype html
head
  // Latest compiled and minified CSS
  link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  // Font awesome
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.9/js/all.js' integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl' crossorigin='anonymous')
  // Aminate.css
  //- link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css')
  //- script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  link(rel='stylesheet' type='text/css' href='/css/comments.css')

  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  
  #wrapper
  .title-register
    h2 Register
  .container
    form(method='POST' action='/users/register' autocomplete='off')
      .register-form
        .form-group
        label Name
          input.form-control.col(type='text', name='name')
        br
        .form-group
        label Email
          input.form-control.col(type='text', name='email')
        br
        .form-group 
        label Username
          input.form-control.col(type='text', name='username')
        br
        .form-group
        label Password
          input.form-control.col(type='password', name='password')
        br
        .form-group
        label Confirm
          input.form-control.col(type="password", name='password2')
        br
        br
        input.btn.btn-default(type='submit' value='Register')
        a(href='#') Forget your password?
        a(type='button' href='/users/login') Login here

// enbuild