doctype html
head
  //- Latest compiled and minified CSS
  // Latest compiled and minified CSS
  link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  // Font awesome
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.9/js/all.js' integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')

  // Aminate.css
  link(rel='stylesheet' type='text/css' href='../styles.css')

  #wrapper
  .title-register
    h2 Register
  .container
    div.formulaire-register
      form(method='POST', action='/users/register' autocomplete='off')
        .register-form
          .form-group.row
            label.col-sm-2.col-form-label Email
            .col-sm-10
              input.form-control(type='text', name='email')
          
          .form-group.row
            label.col-sm-2.col-form-label Username
            .col-sm-10
              input.form-control(type='text', name='username')
          
          .form-group.row
            label.col-sm-2.col-form-label(for='inputPassword') Password
            .col-sm-10
              input.form-control(type='password', placeholder='Password' name='password')

          .form-group.row
            label.col-sm-2.col-form-label(for='inputPassword') Password
            .col-sm-10
              input.form-control(type='password', placeholder='Password' name='password2')

          input.btn.btn-default(type='submit' value='Register')
          br
          a.linkforgotpassword(href='#') Forget your password?
          a.buttonlogin(type='button' href='/users/login') Login here

// enbuild