doctype html
head
  // Font awesome
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.9/js/all.js' integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl' crossorigin='anonymous')
  // Aminate.css
  link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' type='text/css' href='./css/vehicules.css')
  title Document

  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link.active(href='') Home
      li.nav-item
        a.nav-link(href='/all-cars') Vehicules
      li.nav-item
        a.nav-link(href='') Offre et Finances
      li.nav-item
        a.nav-link(href='/contact-us') Contactez-nous

  
  .content
    .content-area
      .top-filter.tfilter-box.margin-b-20
        .container
          .row
            // /.col 4
            .col-sm-4
              select.form-control
                option(value='0', selected='selected')
                  |Selectionner votre modèle
                option(value='1')
                  | Tous
                option(value='2')
                  | Volkswagen Passat
                option(value='3')
                  | Volkswagen Tiguan
                option(value='4')
                  | Volkswagen Touran
                option(value='5')
                  | Volkswagen Arteon
                option(value='6')
                  | Volkswagen Golf
            // /.col 3
            .col-sm-4
              select.form-control
                option(value='0', selected='selected')
                  | Selection ton moteur
                option(value='1')
                  | Tous
                option(value='2')
                  | Essence

            // /.col 3
            .col-sm-4
              select.form-control
                option(value='0', selected='selected')
                  | Selectionne tes options
                option(value='1')
                  | All
                option(value='2')
                  | Packs
                option(value='3')
                  | Sécurité
                option(value='4')
                  | Conduite automatique
                option(value='5')
                  | Extérieur
                option(value='6')
                  | Intérieur
            .col
              button.btn.btn-primary.site-btn2(type='button') Submit
    
  h2.title-page Different type de voitures
  .clearfix

  section.liste-des-offres
    each car, i in cars
      .container-fluid.row
        div.imgvolkswagen.col-md-6
          //- img.img-top.img-fluid.col(src='/cars/'+car._id)= car.car_images     
          img.img-top.img-fluid(src='./images/e-Golf.png', alt='...')
        div.descriptifvolkswagen.col-md-6
          div.text-group-volkswa
            h5.title(href='/cars/'+car._id)= car.car_name
            p.text(href='/cars/'+car._id)= car.car_price
            a.btn.btn-carid(href='/all-cars/car/'+car._id) Visiter

// Footer
#contentGlobal-footer(style='background-color:lightgray;')
  .clearfix.row
    .col
      ul.shop-box
        li.title-footer Ownership
        li(href='#') Extended warranty
        li(href='#') Incontrol
        li(href='#') Castrol oil
    .col
      ul.shop-box
        li.title-footer Vehicules
        li(href='#') Explore our Vehicules
        li(href='#') Glossary
    .col
      ul.shop-box
        li.title-footer About-us
        li(href='#') Citroen c3 AIRCROSS
        li(href='#') New
    .col
      ul.shop-box
        li.title-footer Find us
        li(href='#') Twitter
        li(href='#') Facebook
        li(href='#') Instagram
        li(href='#') Google+
    .col
      ul.shop-box
        li.title-footer(href='#') Map
  script(src='./js/filtercar.js')

// enbuild