<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Font awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <!-- Aminate.css -->
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
  <body>
    <div class="headerTitle">
      <h3>Volkswagen and Environment</h3>
    </div>

    <section id="contentGlobale-environment">
      <div class="container-lg row">
        <section id="adventure" class="col-md-6">
          <h5 class="title-article">Volkswagen Eco</h5>
          <p class="bodyText">
            <div class="span">
              <span>The signature reflects Volkswagen's aim to inform customers of the environmental progress it has made across the vehicle life cycle in the last 10 years.</span>
            </div>      
            <br/>
            A vehicle is given the Volkswagen Eco2 symbol if it:
            <ul>
              <li>Emits less than 120g/km of CO2 or operates on biofuels (in France), on E85 ethanol or on B30 biodiesel</li>
              <li>Is manufactured in a plant that has been certified ISO 14001</li>
              <li>Can be 95% recoverable at the end of its lifecycle (recyclable for other use or as a source of energy) and it includes at least 7% recycled plastics in its plastic mass.</li>
            </ul>
          </p>
          <br/>
          <h5 class="title-article">Our Eco2 range</h5>
          <p class="bodyText">
            <div class="span">
              <span>The amount of Vehicle Excise Duty (Road Fund Licence) payable on new cars varies depending on the level of CO2 (Carbon Dioxide) emissions produced by the vehicle and the type of fuel used.</span>
            </div>
            <br/>
            Discover the ‘CO2 banding’ and therefore, the amount of Vehicle Excise Duty payable on our Eco2 range.
          </p>
        </section>
        <section class="col-md-6">
          <p class="bodyText">
           <img src="images/Tiguan_allspace_fullsize_image_01.jpg" alt="">
          </p>
        </section>
      </div>
    </section>
    
    
    <div class="headerTitle">
      <h3>Our environmental commitment</h3>
    </div>

    <section  class="container-lg" id="textEnvironmn">
      <div class="TextExplaination">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-xs-6 col-sm-4" id="TextVE">
            <div class="span">
              <span>Nothing is forever! One day a Volkswagen reaches the end of its service life. 
              Although it is not suitable for daily use any more, it is not worthless and still has a value: every old vehicle contains expensive
              raw materials that can be recycled into the product cycle again.</span>
            </div>

            In line with the requirements of the EC End of Life Vehicle Directive, Volkswagen owners are offered at the possibility to dispose of their vehicle at the end of its useful life, free of charge.
            The End of Life Vehicle Directive applies to all pasenger cars and light commercial vehicles with up to nine seats and up to a total permissible weight of 3.5 tonnes.
            
          </div>

          <div class="col-xs-6 col-md-4 col-xs-6 col-sm-4"  id="TE">
            Free take back is currently available for all vehicles regardless of age as from from the 1st January 2007.
            <br/>
            As defined in the law, free take back will be provided with some arguments like,             
            The vehicle is delivered to a Volkswagen appointed take back facility
            The vehicle contains all its essential components, in particular the engine, transmission, coachwork, wheels or catalytic converter (if originally fitted)
            That no waste has been added to the vehicle (for example: household and garden waste, extra tyres etc...)
          
            Volkswagen has selected CarTakeBack to provide free take back to last owners of vehicles of the Volkswagen, Alpine and Dacia brands.The CarTakeBack Network covers all regions of the UK. All take back and treatment facilities operate in conformity with the Department for Environment Food & Rural Affairs (DEFRA) requirements.  
            
            Vehicles will be treated to meet the recycling and recovery targets as set by EU Commission 
          </div>  
   
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <div id="contentGlobal-footer" style="background-color:lightgray;">
      <div class="clearfix">
        <div class="col">
          <ul class="shop-box">
            <li class="title-footer">Ownership</li>
            <li href="#">Extended warranty</li>
            <li href="#">Incontrol</li>
            <li href="#">Castrol oil</li>
          </ul>
        </div>

        <div class="col">
          <ul class="shop-box">
            <li class="title-footer">Vehicules</li>
            <li href="#" class="">Explore our Vehicules</li>
            <li href="#" class="">Glossary</li>
          </ul>
        </div>
        <div class="col">
          <ul class="shop-box">
            <li class="title-footer">About-us</li>
            <li href="#" >Citroen c3 AIRCROSS</li>
            <li href="#" >New</li>
          </ul>
        </div>
        <div class="col">
          <ul class="shop-box">
            <li class="title-footer">Find us</li>
            <li href="#" >Twitter</li>
            <li href="#" >Facebook</li>
            <li href="#" >Instagram</li>
            <li href="#" >Google+</li>
          </ul>
        </div>
        <div class="col">
          <ul class="shop-box">
            <li class="title-footer" href="#">Map</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>