/*** BASIC ****/
body {
    background: #f2f2f2;
    overflow-x: hidden;
    margin: 0;
    padding: 0; }
  
  .container .container-lg {
    max-width: 1040px; }
  
  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  
  .container, .container-fluid, .container-lg, .container-wide, .container-xl {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%; }
  
  a{
    color : #000;
  
  }
  .container h3, h4 {
    text-align: center;
    display: block;
    padding: 30px 0;
    max-width: 100%; }
  
  a:-webkit-any-link {
    cursor: pointer; }
  
  li {
    display: list-item; }
  
  ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0; }
  
  /******* NAVBAR ***/
  .navbar {
    background-color: pink;
    overflow: hidden;
    height: 63px; }
  
  .navbar a {
    float: left;
    display: block;
    color: #110b0b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px; }
  
  .navbar ul {
    padding: 8px 0 0 0;
    list-style-type: none; }
  
  .navbar a:hover {
    background-color: rgb(146, 206, 140);
    color: #000;
    border-radius: 2rem; }
  
  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; }
  
  .side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s; }
  
  .side-nav a:hover {
    color: #fff; }
  
  .side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px; }
  
  .header--my-account a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px;
    font-size: 16px; }
  
  /******* MAIN******/
  #main {
    transition: margin-left 0.5s;
    overflow: hidden;
    padding: 0;
    margin: 0; }
  
  .header-boxContent {
    padding: 20px 50px;
    font-size: 19px;
    display: block;
    overflow-y: hidden;
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: rgba(91, 25, 111, 0.438); }
  
  #buttonSlider {
    padding: 10px 19px;
    font-size: 16px; }
  
  #sliderImage .big-image {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1; }
  
  #sliderImage h1 {
    padding-top: 100px;
    padding-bottom: 0;
    text-align: left;
    font-size: 28px; }
  
  .litteWrapper {
    padding-top: 160px;
    text-align: center; }
  
  .scrollDown .fa-angle-down {
    text-align: center;
    line-height: 150px;
    text-decoration: none;
    color: #ccc;
    font-size: 50px;
    width: 13%;
    background-color: transparent; }
  
  .headerTitle {
    text-align: center;
    letter-spacing: 3px;
    font-weight: 500; }
  
  .headerTitle h3 {
    font-size: 26px;
    margin: 0;
    padding: 100px 0;
    text-transform: uppercase; }
  
  .contentGlobale-index {
    padding-bottom: 10px;
    margin: 0;
    background-color: #fff; }
    .contentGlobale-index p {
      font-size: 14px;
      font-weight: 550;
      text-transform: uppercase; }
  
  .thumbnail {
    border: none; }
  
  .imgBestSeller {
    height: 50%;
    background: none; }
  
  /***** article content ****/
  #contentGlobale-article {
    background-color: #fff; }
    #contentGlobale-article a {
      font-size: .9em;
      text-decoration: none;
      padding: 1.5%;
      background-color: #6772e5;
      color: #fff;
      border-radius: 3px; }
    #contentGlobale-article a:hover {
      background-color: #fff;
      color: #6772e5; }
  
  .title-article {
    text-transform: uppercase;
    font-weight: 500; }
  
  .bodyText {
    margin: 18px 0 16px;
    size: 23px; }
  
  /***** CUSTOMER part ******/
  #contentGlobal-customers {
    margin-top: 50px;
    margin-bottom: 50px; }
  
  .common-button {
    opacity: 0; }
  
  #contentGlobal-customers:hover .overlay {
    opacity: .1; }
  
  #contentGlobal-customers:hover .common-button {
    opacity: 1; }
  
  #contentGlobal-customers a {
    display: block;
    padding-top: 29px;
    padding-bottom: 19px; }
  
  #adventure, #history, .bodyText {
    margin: 30px 0; }
  
  #contentGlobal-customers .common-button {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -5px) scale(0.95); }
  
  .common-button--default {
    color: #fff;
    background: #6772e5; }
  
  .common-button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #6772e5;
    text-decoration: none;
    transition: all .15s ease; }
  
  #contentGlobal-customers ul {
    display: flex;
    align-items: center;
    justify-content: center; }
  
  /**** beforeFooter ****/
  #contentGlobal-beforeFooter {
    display: block;
    overflow-x: hidden;
    background-color: #fff; }
  
  .titleBeforeFooter {
    font-size: 2em;
    color: cadetblue; }
  
  #signup {
    padding: 2%;
    background: #fff; }
  
  #contactUss {
    padding: 2%;
    background: #373f51; }
  
  /**** volkswagen and environment ****/
  #contentGlobale-environment {
    background-color: #fff; }
    #contentGlobale-environment .title-article {
      font-size: 21px;
      font-family: 'Lucida Grande', sans-serif; }
    #contentGlobale-environment .bodyText {
      font-size: 20px;
      font-family: Times, 'Times New Roman', serif; }
  
  .span {
    color: rgba(85, 80, 80, 0.438);
    top: 20px; }
  
  #textEnvironmn {
    background-color: #fff; }
    #textEnvironmn .TextExplaination {
      font-size: 18px;
      font-family: Times, 'Times New Roman', serif;
      padding: 20px 15px; }
    #textEnvironmn #TextVE {
      float: left;
      font-size: 18px;
      overflow: hidden;
      font-family: Times, 'Times New Roman', serif; }
    #textEnvironmn #TE {
      float: right; }
  
  /**** ARROW ****/
  .arrow-right {
    border-color: #000;
    margin-right: 5px; }
  
  .arrow {
    cursor: pointer;
    position: absolute;
    width: 0;
    border-style: solid; }
  
  /****** HISTORY *******/
  #history_content h2, #history_content h3, #history_content .scrolljs {
    text-align: center;
    font-family: 'Times New Roman', Times, serif; }
  
  #history_content .first-section {
    background-color: #fff; }
    #history_content .first-section p {
      font-size: 24px;
      text-align: center;
      margin: 35px 0; }
  
  #history_content .secondContent {
    padding: 35px 0;
    background-color: #fff; }
  
  #dates ol li {
    font-size: 16px;
    margin-bottom: 4px; }
  
  .secondContent p {
    font-size: 16px;
    margin-bottom: 5px; }
  
  .thirdContent, .datesMiddle {
    display: block; }
  
  .datesMiddle {
    width: 100%; }
  
  .leadsimg {
    width: 100%; }
  
  .companyimg {
    width: 65%; }
  
  #dates {
    padding: 25px; }
  
  /***** VEHICULES PAGE *******/
  /**** Photo grid ****/
  .main {
    max-width: 968px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px; }
  
  .main h2 {
    font-size: 30px;
    font-family: Cambria, sherif;
    font-weight: 450;
    line-height: 80px;
    color: #373f51;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; }
  
  .imgCar {
    width: 100%;
    height: 85%;
    padding: 40px 0;
    margin: 0 50px;
    border: 5px; }
  
  .column {
    float: left;
    width: 45.3%;
    padding: 5px;
    box-sizing: border-box; }
  
  .tab3 {
    padding: 0 60px;
    width: 100%;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; }
  
  .accordion-content {
    padding: 0 30px;
    max-height: 0;
    overflow: hidden; }
  
  button.accordion {
    width: 85%;
    margin: 0 100px;
    border: none;
    outline: none;
    text-align: center;
    padding: 12px 10px;
    font-size: 18px;
    cursor: pointer;
    transition: #fff 0.2s linear;
    border-radius: 4px; }
  
  button.accordion:hover {
    background-color: #6772e5; }
  
  .accordion-content h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 30px 40px;
    background-color: #fff;
  }
  
  button{
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: rgb(117, 162, 219);
    border: none;
    color: #ffff;
    position: relative;
    left: 43%;
  }
  
  .contentGlobale-index button{
    text-align: center;
  }
  
  button:hover {
    background: rgb(171, 218, 236);
  
  }
  
  /**** OFFER & FINANCE PAGE ****/
  .column-offers {
    float: left;
    width: 32.7%;
    padding: 35px 42px 27px 42px;
    line-height: 80%; }
  
  .offer-box {
    background: #fff;
    color: #555;
    border: 1px solid #6772e5;
    margin: 0;
    padding: 0;
    transition: 0.4s; }
    .offer-box .headerTitleFooter {
      font-size: 1.5rem;
      font-weight: bold; }
    .offer-box .headerParaph {
      color: #2e2e2e3b; }
    .offer-box .link-offers:hover {
      color: #6772e5; }
  
  .offer-box:hover {
    box-shadow: 0 10px 15px 0 #ccc; }
  
  .link-offers a:hover {
    text-decoration: none;
    color: #333; }
  
  .offer-box .headerTitleFooter {
    background-color: #6772e5; }
  
  .offer-box li {
    padding: 20px;
    text-align: center;
    white-space: pre-line;
    font-size: 1.7rem;
    font-weight: 400; }
    .offer-box li a {
      text-decoration: none;
      color: #141414f6;
      font-family: 'Gill Sans',  sans-serif; }
  
  #img-model {
    width: 100%; }
  
  .caption {
    padding: 5px 25px;
    text-align: center;
    font-family: verdana, sans-serif; }
  
  .caption h3 {
    font-size: 19px;
    font-weight: 500; }
  
  #contentGlobale-ModelOffer {
    display: block;
    background-color: #fff;
    overflow-y: hidden; }
  
  .linkOffer {
    overflow: hidden;
    padding: 70px 15px;
    margin: 0; }
    .linkOffer .spanoffer {
      font-style: italic;
      font-size: 13px;
      padding: 12px;
      text-align: center;
      display: block; }
  
  .caption a {
    text-decoration: none;
    font-size: 1.2em;
    color: #111; }
  
  .buttonallmodel {
    display: block;
    text-align: center; }
    .buttonallmodel .btn-primary {
      padding: 18px 20px;
      font-size: 1em;
      font-weight: 400;
      font-family: Impact,'Arial Narrow Bold', sans-serif;
      color: #fff;
      background: #00a8ec;
      min-width: 190px;
      letter-spacing: 4px;
      border-style: none; }
  
  /******* FULL-FINANCE page *******/
  .header-finance {
    background: #fff; }
    .header-finance #text {
      padding: 65px 35px;
      font-size: 2rem; }
      .header-finance #text button #btn-header-finance {
        margin-top: 35px; }
    .header-finance #photo {
      margin: 25 45px;
      width: 100%; }
  
  #financeList {
    padding: 20px 0;
    margin: 0; }
  
  .model-offer h3 {
    font-weight: 400; }
  
  select #finance_list_options {
    padding: 35px 70px;
    width: 100%;
    position: absolute;
    z-index: 100; }
  
  /**** CONTACT PAGE ****/
  /* Header contactUS */
  #contactUs {
    width: 100%;
    min-height: 450px;
    text-align: center; }
  
  #contactUs .businessimg {
    position: absolute;
    background-image: url("../images/image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4; }
  
  #contactUs h3, h1 {
    font-size: 25px;
    color: #000;
    font-weight: 300; }
  
  .list_questions a {
    display: inline-block;
    color: #373f51;
    text-align: center;
    padding: 25px 46px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    width: 50%; }
  
  /******* contact ********/
  .optionItem {
    background-color: peru; }
  
  button.optionItem {
    display: block;
    color: #373f51;
    text-align: center;
    padding: 15px 20px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    cursor: pointer; }
  
  .wrapper {
    box-shadow: 0 0 20px 0 rgba(25, 79, 111, 0.4); }
  
  .wrapper > * {
    padding: 1rem; }
  
  /**** FORM style ****/
  #contact-email .sub-header h3 {
    text-align: left;
    padding: 15px 25px;
    font-size: 14px; }
  
  #contact-email form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 17px; }
  
  #contact-email form label {
    display: block; }
  
  #SendEmail {
    text-transform: uppercase;
    background-color: lightgrey;
    color: #000; }
  
  .optionItem {
    transition: #ccc 0.2s linear; }
  
  .contentItem {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out; }
  
  #contat-email, #contact-phone, #contact-fb-tw, #contact-letter, #contact-postcode {
    float: right;
    position: fixed;
    margin-right: 100px;
    top: 0; }
  
  #facebook-link i {
    padding: 0 50px;
    margin-left: 250px; }
  
  /*** Footer PAGE ****/
  .col {
    float: left;
    width: 22.3%;
    padding: 8px;
    box-sizing: border-box; }
  
  .shop-box {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Tahoma, sans-serif; }
  
  .title-footer {
    letter-spacing: 3px;
    font-size: 14px;
    color: #fff; }
  
  .shop-box li {
    padding: 12px;
    border-bottom: 1px #eee; }
  
  /******* register Form ******/
  #wrapper {
    padding: 30px 100px; }
    #wrapper .title-register {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px; }
  
  .register-form, .login-form {
    padding: 70px 20%;
    margin: 0;
    position: relative; }
    .register-form input[type="submit"], .login-form input[type="submit"] {
      outline: none;
      height: 40px;
      background: #f2f2f2;
      font-size: 18px;
      border-radius: 5px;
      width: 100%; }
  
  .form-group {
    margin: 0;
    padding: 0; }
  
  label {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px; }
  
  .form-group input {
    margin-bottom: 16px; }
  
  /******* MEDIA QUERIES *****/
  @media (max-width: 568px) {
    .navbar-nav {
      display: none; }
    .textSlider {
      display: none; } }
  
  @media (max-width: 568px) {
    .navbar-nav {
      display: none; }
    .textSlider {
      display: none; } }
  
  @media (min-width: 700px) {
    .wrapper > * {
      padding: 2em; }
    .optionItem {
      text-align: left;
      display: inline-block; }
    .optionItem:hover {
      color: #eee; }
    .contentItem {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-in-out; } }
  
  @media (min-width: 390px) and (max-width: 990px) {
    .imgBestSeller {
      height: 35%;
      background: none;
      transition: .4s;
      transition-delay: .3s; }
    .contentGlobale-index p {
      font-size: 18px;
      font-weight: 550;
      text-transform: uppercase; }
    button.accordion {
      width: 75%;
      margin: 0 79px;
      transition: .4s;
      border: none;
      outline: none;
      text-align: center;
      padding: 9px 10px;
      font-size: 16px;
      cursor: pointer;
      transition: #fff 0.2s linear;
      border-radius: 4px; }
    .accordion-content::after p {
      max-width: 75%;
      height: 100%; } }
  
  /*@media (min-width: 993px) and (max-width: 1360px){
      #financemenu{
          visibility: visible;
      }
  }*/
  @media (min-width: 992px) and (max-width: 395px) {
    #financeList {
      display: hidden; } }
  
  @media (max-width: 540px) {
    #contactUs h1, h3 {
      font-size: 13px;
      padding: 0;
      margin: 0;
      color: #000;
      font-weight: 300; }
      #contactUs h1 .list_questions a, h3 .list_questions a {
        display: block;
        padding: 5px 0;
        overflow: hidden;
        font-size: 13px; }
    .col {
      float: left;
      width: 30%;
      line-height: 10px; }
    .shop-box {
      list-style: none;
      margin: 0;
      padding: 0;
      transition: 0.3s;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: Tahoma, sans-serif; }
    .title-footer {
      letter-spacing: 1px;
      font-size: 12px;
      color: #fff; }
    .shop-box li {
      padding: 12px;
      border-bottom: 1px #eee; } }
  
  @media (max-width: 427px) {
    #contactUs h3 {
      font-size: 14px;
      padding: 0;
      margin: 0; }
    header .list_questions a {
      margin-bottom: 5px;
      font-size: 14px; }
    .col {
      float: left;
      width: 32.3%;
      line-height: 10px; }
    .shop-box {
      list-style: none;
      margin: 0;
      padding: 0;
      transition: 0.3s;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: Tahoma, sans-serif; }
    .title-footer {
      letter-spacing: 1px;
      font-size: 12px;
      color: #fff; }
    .shop-box li {
      padding: 12px;
      border-bottom: 1px #eee; } }
  
  @media (min-width: 880px) {
    #contentGlobal-customers ul {
      justify-content: space-between; }
    #contentGlobal-customers li {
      margin: 0; } }
  
  @media (min-width: 540px) {
    #contentGlobal-customers ul li {
      justify-content: space-between;
      padding: 0 50px;
      overflow: hidden; }
    #contentGlobal-customers li {
      margin: 0; } }
  
  @media (min-width: 395px) {
    #contentGlobal-customers ul li {
      justify-content: space-between;
      padding: 0 35px;
      overflow: hidden; }
    #contentGlobal-customers li {
      margin: 0; }
    #contentGlobal-footer {
      padding: 40px 25px;
      transition-delay: .2s; }
    #adventure {
      padding: 20px 20px 50px 50px; }
    #history {
      padding: 20px 50px 50px 20px; } }
  
  @media (min-width: 640px) {
    .contentGlobale-article {
      margin: 0;
      display: flex;
      padding: 20px 0; }
    #adventure {
      padding-left: 20px;
      border-width: 0 1px 0 0; }
    #history {
      padding-left: 20px;
      border-width: 0 1px 0 0; } }
  
  @media (min-width: 502px) {
    .contentGlobal-beforeFooter {
      padding: 0 50px; }
    #contentFooter {
      padding: 20px 50px; }
    .titleBeforeFooter span {
      padding-bottom: 30px; }
    #contentLink {
      padding: 45px 50px;
      display: block;
      color: #ccc;
      margin: 10px 0; }
    #contentLink a {
      padding: 0 10px;
      text-decoration: none; } }
  
  @media (min-width: 395px) {
    .titleBeforeFooter {
      font-size: 16px; }
      .titleBeforeFooter span {
        padding-bottom: 5px; }
    #contentFooter {
      padding: 15px 25px; }
    .titleBeforeFooter span {
      padding-bottom: 30px; }
    #contentLink {
      padding: 30px 20px;
      display: block; }
    #contentLink a {
      padding: 10px 10px;
      text-decoration: none;
      color: #ccc; } }
  
  @media (min-width: 991px) {
    #contentFooter {
      padding: 70px 50px; }
    .titleBeforeFooter span {
      padding-bottom: 20px; }
    #contentLink {
      padding: 99px 50px;
      display: block; }
    #contentLink a {
      padding: 20px 10px;
      text-decoration: none; } }
  
  @media all and (max-width: 1081px) and (min-width: 395px) {
    .column-offers {
      width: 100%; }
    .offer-box {
      background: #fff;
      color: #555;
      border: 1px solid #6772e5;
      margin: 0;
      padding: 12px 20px;
      transition: 0.4s; }
      .offer-box .headerTitleFooter {
        font-size: 1.5rem;
        font-weight: bold; }
      .offer-box .headerParaph {
        color: #2e2e2e3b; }
      .offer-box .link-offers:hover {
        color: #6772e5; }
    .offer-box:hover {
      box-shadow: 0 10px 15px 0 #ccc; }
    .link-offers a:hover {
      text-decoration: none;
      color: #333; }
    .offer-box .headerTitleFooter {
      background-color: #6772e5; } }
  