********************* VEHICULE 
.navoo a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3px; }
.link{
    color: #110b0b!important;
}
.navoo ul {
    padding: 8px 0 0 0;
    list-style-type: none;
}

.navoo a:hover {
    background-color: rgb(140, 202, 206);
    color: #000!important;
    border-radius: 3px; 
}

.model-offer-details-filter{
    padding-bottom: 10px;
    /* background-color: rgb(211, 226, 226); */
    font-family: 'VWTextRegular';
    padding-top: 14px;
}
.model-offer-details-filter > .finance-option{
    border-radius: 4px 0 0 4px;}

.model-offer-details-filter > .list-of-offers, .services{
    border-radius: 0 4px 4px 0;}
    
.model-offer-details-filter{
    text-align: justify;
    justify-content: center;
    padding: 0;
    list-style: none;

}

.nav-item.nodetails > .active{
    font-weight: 400;
    background: #99dbee;
    color: #fff;
    border-bottom: 4px solid #d044e2;
}

.nav-link a:hover{
    background-color: #99dbee;
    color: #fff;
}

.img{
    padding: 0 20px 0 30px;
}
.nav-item.nodetails{
    font-family: sans-serif;
    cursor: pointer;
    letter-spacing: -.2px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: center;
    background: #e0b2dc;
    width: 30%;
}

.nav-link{
    color: #fff;
}
.nav{
    margin-left: 10rem!important;
}

.nav-tabs .nav-link{
    border: transparent !important;
}

.nav-tabs{
    border-bottom: none;
    padding-bottom: 8rem;
}

.filter-name{
    padding:5px 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.place-content{
    background-color: #edf4f6;
    border-radius: 25px;
}
.contentItem {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

button.optionItem {
    display: block;
    color: #373f51;
    text-align: center;
    padding: 15px 20px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.place-content{
    /* background-color: rgb(255, 247, 247); */
    padding: 55px 75px;
}
.model-offer-details-content{
    padding: 25px 75px;
    margin-bottom: 45px;
}

.voiture-carname{
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.model-offer-details__subtab-title {
    font-weight: 600;
    font-family: 'Lora', serif;
    font-size: 2.2rem;
}

ul{
    
    font-family: sans-serif;
    font-weight: 400;
    color: #00a8ec;
    list-style-type: none;
    margin: 0 0 25px;
    padding: 0;
    position: relative;
    
    margin-top: 55px;
    border-bottom: 1px solid #373f51;

}

.testdrivebutton, .descriptioncarbutton{
    padding: 1px 1px;
    background-color: #99dbee;
    margin-bottom: 17px;
    margin-top: 15px;

}
.terms-and-condition{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.61803em;
    color: #586678;
    padding: 5px 40px 10px 0;
    -webkit-transition: none;
    transition: none;
}
.btn-link:hover{
    background-color: #99dbee;
    color: #383b3d;
}

.btn-link{
    color: #586678;
}

.textR{
    color: #383b3d
}

@media screen and (min-width: 992px){
    h3.model-offer-details__subtab-title {
        font-weight: 600;
        font-family: 'Lora', serif;
        font-size: 2.2rem;
        line-height: 1.25em;
        /* margin-bottom: 25px; */
        background-color: #fff;

    }
}
@media screen and (min-width: 768px){
    h3.model-offer-details__subtab-title {
        font-size: 28px;
        font-weight: 600;
        font-family: 'Lora', serif;
        font-size: 2.2rem;
        line-height: 1.25em;
        /* margin-bottom: 15px; */
        background-color: #fff;

    }
}

/***************
